.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/* Start Variables */
:root {
  --Dark-Violet: hsl(256, 26%, 20%);
  --Grayish-Blue: hsl(216, 30%, 68%);
  --Very-Dark-Violet: hsl(270, 9%, 17%);
  --Dark-Grayish-Violet: hsl(273, 4%, 51%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Karla", sans-serif;
}
ul {
  list-style: none;
}
img {
  display: block;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* start header */
header {
  padding: 20px 0;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container img {
  padding: 5px;
  height: 26px;
}
header .container ul {
  display: flex;
}
header .container ul li {
  padding: 5px 10px;
  text-transform: uppercase;
  color: var(--Dark-Grayish-Violet);
}
#plan-li {
  border: 1px solid black;
  color: black;
}
/* End header */
/* Start view plans*/
.view-plans {
  padding-top: 80px;
  padding-bottom: 40px;
  background-color: var(--Dark-Violet);
  height: calc(100vh - 70.39px);
  position: relative;
}
.view-plans::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(../images/bg-pattern-intro-right-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 90%;
  width: 30%;
}
.view-plans .container {
  display: flex;
  gap: 8px;
}
.view-plans .img-container {
  flex-basis: 50%;
}
.view-plans .img-container img {
  width: 100%;
}
.view-plans .text-box {
  flex-basis: 50%;
  padding: 10px;
  color: var(--Very-Light-Gray);
  position: relative;
}
.view-plans .text-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 10px;
  width: 30%;
  height: 2px;
  background-color: var(--Very-Light-Gray);
}

.view-plans .text-box h1 {
  font-size: 3.5em;
  margin: 50px 0 30px 0;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
}
.view-plans .text-box p {
  line-height: 1.7;
  margin-bottom: 20px;
}
.view-plans .button {
  border: 1px solid var(--Very-Light-Gray);
  padding: 5px 20px;
  width: fit-content;
}
/* End view plans */
/* Start different */
.different {
  padding-top: 300px;
  padding-bottom: 150px;
  position: relative;
}
.different::before {
  position: absolute;
  top: -16%;
  left: 0px;
  content: "";
  background-image: url(../images/bg-pattern-intro-left-desktop.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 51%;
  width: 16%;
}

.different h2 {
  font-size: 3em;
  margin-bottom: 40px;
  font-family: "DM Serif Display, serif";
  position: relative;
}
.different h2::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 0;
  width: 10%;
  height: 2px;
  background-color: var(--Grayish-Blue);
}
.different .content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.different .box {
  flex-basis: 33%;
  padding: 15px;
}
.different .box img {
  width: 56px;
}
.different .box h4 {
  margin: 20px 0;
  font-size: 1.5em;
}
.different .box p {
  color: var(--Grayish-Blue);
}
/* End  different */
/* Start how we work */
.how-we-work .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--Dark-Violet);
  position: relative;
}
.how-we-work h1 {
  color: var(--Very-Light-Gray);
  width: 335px;
  padding: 20px;
  font-family: "DM Serif Display", serif;
  letter-spacing: -2px;
  font-weight: 400;
  font-size: 2em;
}
.how-we-work .button-container {
  padding-inline: 60px;
}
.how-we-work .button {
  color: var(--Very-Light-Gray);
  border: 1px solid var(--Very-Light-Gray);
  padding: 5px 15px;
}
.how-we-work .container::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  background-image: url(../images/bg-pattern-how-we-work-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 30%;
  height: 100%;
}
/* End how we work */
footer {
  margin-top: 150px;
  position: relative;
}
footer::before {
  position: absolute;
  top: 0%;
  left: 0;
  content: "";
  background-image: url(../images/bg-pattern-footer-desktop.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 30%;
}
footer .social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .social-media i {
  font-size: 1.4em;
  color: var(--Grayish-Blue);
}
footer .contact {
  display: flex;
}
footer .contact ul {
  flex-basis: 25%;
  padding: 25px;
}
footer .contact li {
  padding: 5px;
  font-size: 0.9em;
  text-transform: uppercase;
}
footer .contact .header {
  color: var(--Grayish-Blue);
  margin-bottom: 5px;
}

/* font-family: 'DM Serif Display', serif; */
